@{
    ViewBag.Title = "Welcome to Harmony";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}


<div id="background">
    <img src="/Images/landingPage.jpg" alt="">
</div>

<a asp-area="Identity" asp-page="/Account/Register"><button id="registerButton">register</button></a>

<a asp-area="Identity" asp-page="/Account/Login"><button id="loginButton">login</button></a>

