@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    aaaaaaaaa
    <a href="#" style="background-image: @Url.Content("~/wwwroot/Images/landingPage.jpg")"></a>
</div>
